[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-avatars = "*"
flask-mail = "*"
pillow = "*"
faker = "*"
pymysql = "*"

[requires]
python_version = "3.6"
