.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .register-form {
  display: none;
}
#Web_name{
  font-family: 'ZCOOL KuaiLe';
  color: #009900;
 }
.navbar {
    margin-bottom: 0px;
  }
h5{
  color:#F4F0F0;
}

body
{
  background: #f5f5f5;
}

.confirmation-tabs-btn
{
  position: absolute;
}