

body{
	background-color: #F4F4F1;
}

#main_form{
	background-color: #C2C2B6;
}


@media screen and (max-width: 540px)
{
.mobile-position{
margin-top: 100px;
}
}

@media screen and (max-width: 540px)
{
.mobile-img{
height: 150px;
width: 100%;

}
}

@media screen and (min-width: 541px){
.mobile-img{
height: 350px;
width: 100%;}
}
