.user_icon{
	width: 100%;
  	height: 100%;
  	margin: 5px;
}


.user_icon img{width: 206px ;
        height:206;
}

@media screen and (max-width: 540px){
	.mobile-position{
    text-align: center;
    }
}