{% extends 'top_bar.html' %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">

<script type="text/javascript">
 window.onload = function what(){
  var d2 = new Date('{{current_time}}');
  var d1 = new Date('{{changed}}');
  var seconds =  (d2- d1)/1000;

  if (seconds<59){
document.getElementById("changed").innerHTML = seconds+'s ago'
  }
  else if(seconds<3599){
    document.getElementById("changed").innerHTML = Math.floor(seconds/60)+' mins ago'
  }
  else if (seconds<215999){
    document.getElementById("changed").innerHTML = Math.floor((seconds/60)/60)+' hours ago'
  }
  else if (seconds<5183999){
    document.getElementById("changed").innerHTML = Math.floor(((seconds/60)/60)/24)+' days ago'
  }
  else{
    document.getElementById("changed").innerHTML = Math.floor((((seconds/60)/60)/24)/365)+' years ago'
  }

}
</script>

{% endblock %}
{% block contentA %}


<div class="cover-photo" style="background-color: {{profile_info['background']}}"></div>

<div class="body">
  <section class="left-col user-info">
    <div class="profile-avatar">
      <div class="inner">
        {% if user_icon != 'default' %}
            <img src="data:image/png;base64, {{user_icon}}" alt="user_icon" />
        {% else %}
            <img src="{{ avatars.default() }}" >
        {%endif%}

      </div>
    </div>
    {%if not g.user['ID'] %}{%else%}
    {%if int(id) == int(g.user['ID'])%}
    <a href="/profile/profile_edit"><button type="button" class="btn btn-primary btn-block" >Edit profile</button></a>
    {%endif%}{% endif %}
    <h1>{{profile_info['nick_name']}}</h1>
    {%if profile_info['country'] != 'No_show'%}
    <h2>From {{profile_info['country']}}</h2>
    {%endif%}
      {% if profile_info['time_zone']!='No_show' %}
      <p><i class="fa fa-fw fa-map-marker"></i>(UTC {{profile_info['time_zone']}})</p>
      {% endif %}

    <div class="meta">
      {% if profile_info['gender']!='No_show' %}
      <p><i class="fa fa-fw fa-map-marker"></i> Gender: {{profile_info['gender']}}</p>
      {% endif %}
      {% if profile_info['company'] != 'No_show' %}
      <p><i class="fa fa-fw fa-link"></i>Company:{{profile_info['company']}}</p>
      {% endif %}


      <p> Joined {{joined}}</p>
      {%if not g.user['ID'] %}{%else%}
      {%if int(id) == int(g.user['ID'])%}
      <form method="post" enctype="multipart/form-data" >
      <input type="color" name="background">
      <button type="submit" class="btn btn-outline-primary btn-sm" value="setting background color" name="set_BG">setting background color</button>
      {%endif%}{%endif%}

    </form>
    </div>
  </section>
  <section class="section center-col content">
    
    <!-- Nav -->

<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link {%if menu == 'HomePage'%}active{%endif%}"  href="{{ url_for('profile.profile',id=id) }}">Status</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {%if menu == 'collection'%}active{%endif%}"   href="{{ url_for('profile.profile',id=id,menu='collection') }}">collection</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {%if menu == 'Gallery'%}active{%endif%}"   href="{{ url_for('profile.profile',id=id,menu='Gallery') }}">Photo Gallery</a>
    </li>
  </ul>
  <!-- Tab panes -->


  <div class="tab-content">
<div id="home" class="container tab-pane active "><br>
{%if menu == 'HomePage'%}
<blockquote class="blockquote blockquote-reverse">
  {%if profile_info['status'] != 'No_show'%}
  <p class="mb-0" style="color: black">{{profile_info['status']}}</p>
  {%else%}
  <p class="mb-0" style="color: black">I am good</p>
  {%endif%}
  <footer class="blockquote-footer" id="changed"></footer>
</blockquote>


{%elif menu == 'collection'%}
<div class="row">
  <div class="col-md-4" >
<h2>Collections:{{count}} </h2></div>
    <div class="col-md-8" >
      <span class="float-right">
      <form method="post" enctype="multipart/form-data" >

      <select class="form-control" id="exampleSelect1" onchange="location = this.value;">
        {%if order == 'B'%}
        <option value="{{ url_for('profile.profile',id=id,menu='collection',cl=cl,order='B') }}">from OLD to NEW</option>
        <option value="{{ url_for('profile.profile',id=id,menu='collection',cl=cl,order='A') }}">from NEW to OLD</option>
        {%else%}

        <option value="{{ url_for('profile.profile',id=id,menu='collection',cl=cl,order='A') }}">from NEW to OLD</option>
        <option value="{{ url_for('profile.profile',id=id,menu='collection',cl=cl,order='B') }}">from OLD to NEW</option>
        {%endif%}
      </select>
    </form></span>
    </div></div>
<div class="row">
{%for a in range(len(paginate[cl-1]))%}

{%for i in range(len(paginate[cl-1][a]))%}
<div class="col-md-3">
  <a href="{{ url_for('show.show',id=paginate[cl-1][a][i]['picture_ID']) }}">
<img src="data:image/png;base64, {{paginate[cl-1][a][i]['picture']}}" alt="user_icon" style=" height: auto;width: auto; max-height: 100%; max-width: 100%;"/></a>
</div>
&nbsp&nbsp&nbsp&nbsp
{%endfor%}
</div>
<div class="row">
{%for i in range(len(paginate[cl-1][a]))%}
<div class="col-md-3 " style="text-align: center;">
<a href="{{ url_for('show.show',id=paginate[cl-1][a][i]['picture_ID']) }}">
{{paginate[cl-1][a][i]['title']}}
</a>
</div>
&nbsp&nbsp&nbsp&nbsp
{%endfor%}
{%endfor%}
</div>
<div style="float: none;margin: 0 auto;">
<br>
  <ul class="pagination justify-content-center">
    <li class="page-item {%if cl == 1%}disabled{%endif%}">
      <a class="page-link" href="{{ url_for('profile.profile',id=id,menu='collection',cl=cl-1,order=order) }}">&laquo;</a>
    </li>


    {%for i in range(len(paginate))%}

    <li class="page-item {%if cl == i+1%}active{%endif%}">
      <a class="page-link " href="{{url_for('profile.profile',id=id,menu='collection',cl=i+1,order=order)}}" >{{i+1}}</a>
    </li>

    {%endfor%}

    <li class="page-item {%if cl == (len(paginate))%}disabled{%endif%}">
      <a class="page-link" href="{{ url_for('profile.profile',id=id,menu='collection',cl=cl+1,order=order) }}">&raquo;</a>
    </li>
  </ul>

</div>


</div>
{%elif menu == 'Gallery'%}

<div class="row">
  <div class="col-md-4" >
<h2>Gallery:{{count}} </h2></div>
    <div class="col-md-8" >
      <span class="float-right">
      <form method="post" enctype="multipart/form-data" >
      <select class="form-control" id="exampleSelect1" onchange="location = this.value;">
        {%if order == 'B'%}
        <option value="{{ url_for('profile.profile',id=id,menu='Gallery',cl=cl,order='B') }}">from OLD to NEW</option>
        <option value="{{ url_for('profile.profile',id=id,menu='Gallery',cl=cl,order='A') }}">from NEW to OLD</option>
        {%else%}

        <option value="{{ url_for('profile.profile',id=id,menu='Gallery',cl=cl,order='A') }}">from NEW to OLD</option>
        <option value="{{ url_for('profile.profile',id=id,menu='Gallery',cl=cl,order='B') }}">from OLD to NEW</option>
        {%endif%}
      </select>
    </form></span>
    </div></div>
<div class="row">
{%for a in range(len(paginate[cl-1]))%}

{%for i in range(len(paginate[cl-1][a]))%}
<div class="col-md-3">
  <a href="{{ url_for('show.show',id=paginate[cl-1][a][i]['ID']) }}">
<img src="data:image/png;base64, {{paginate[cl-1][a][i]['picture']}}" alt="user_icon" style=" height: auto;width: auto; max-height: 100%; max-width: 100%;"/></a>
</div>
&nbsp&nbsp&nbsp&nbsp
{%endfor%}
</div>
<div class="row">
{%for i in range(len(paginate[cl-1][a]))%}
<div class="col-md-3 " style="text-align: center;">
<a href="{{ url_for('show.show',id=paginate[cl-1][a][i]['ID']) }}">
{{paginate[cl-1][a][i]['title']}}
</a>
</div>
&nbsp&nbsp&nbsp&nbsp
{%endfor%}
{%endfor%}
</div>
<div style="float: none;margin: 0 auto;">
<br>
  <ul class="pagination justify-content-center">
    <li class="page-item {%if cl == 1%}disabled{%endif%}">
      <a class="page-link" href="{{ url_for('profile.profile',id=id,menu='Gallery',cl=cl-1,order=order) }}">&laquo;</a>
    </li>


    {%for i in range(len(paginate))%}

    <li class="page-item {%if cl == i+1%}active{%endif%}">
      <a class="page-link " href="{{url_for('profile.profile',id=id,menu='Gallery',cl=i+1,order=order)}}" >{{i+1}}</a>
    </li>

    {%endfor%}

    <li class="page-item {%if cl == (len(paginate))%}disabled{%endif%}">
      <a class="page-link" href="{{ url_for('profile.profile',id=id,menu='Gallery',cl=cl+1,order=order) }}">&raquo;</a>
    </li>
  </ul>

</div>


</div>



{%endif%}
    </div>
  </div>
</div>



      <ul class="image-grid col-3">

      </ul>
    </div>
    
  </section>

</div>

<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

{% endblock %}