{% extends 'top_bar.html' %}
{% block title %}Profile{% endblock %}
{% block link %}
<link rel="Shortcut Icon" type="image/x-icon" href="{{ url_for('static', filename='Terrabyte.ico') }}" />

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">

<script type="text/javascript">
 window.onload = function what(){
  var d2 = new Date('{{current_time}}');
  var d1 = new Date('{{changed}}');
  var seconds =  (d2- d1)/1000;

  if (seconds<59){
    document.getElementById("changed").innerHTML = seconds+'s ago'
  }
  else if(seconds<3599){
    document.getElementById("changed").innerHTML = Math.floor(seconds/60)+' mins ago'
  }
  else if (seconds<215999){
    document.getElementById("changed").innerHTML = Math.floor((seconds/60)/60)+' hours ago'
  }
  else if (seconds<5183999){
    document.getElementById("changed").innerHTML = Math.floor(((seconds/60)/60)/24)+' days ago'
  }
  else{
    document.getElementById("changed").innerHTML = Math.floor((((seconds/60)/60)/24)/365)+' years ago'
  }

}
</script>

{% endblock %}
{% block contentA %}


<div class="cover-photo" style="background-color: {{profile_info['background']}}"></div>

<div class="body">
  <section class="left-col user-info">
    <div class="profile-avatar ">
      <div class="inner">
        {% if user_icon != 'default' %}
        <img src="data:image/png;base64, {{user_icon}}" alt="user_icon" />
        {% else %}
        <img src="{{ avatars.default() }}" >
        {%endif%}

      </div>
    </div>
    <div>
      {%if not g.user['ID'] %}{%else%}
      {%if int(id) == int(g.user['ID'])%}
      <a href="{{ url_for('profile.profile_edit') }}"><button type="button" class="btn btn-primary btn-block" >Edit profile</button></a>
      {%else%}

      <a href="{{ url_for('profile.follow',id=id,check_follow=check_follow) }}"><button type="button" class="btn btn-primary btn-block" >
      {%if check_follow=='N'%}Follow{%else%}Unfollow{%endif%}</button></a>
      {%endif%}{% endif %}
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h1 class="hidden_for_pc">User </h1>
          </div>
          <div class="col pc_position">
            <h1 class="mobile_float">{{profile_info['nick_name']}} </h1>
          </div>
        </div>


        {%if profile_info['country'] != 'No_show'%}
        <div class="row">
          <div class="col-4">
            <h1 class="hidden_for_pc">From </h1>
            <h1 class="hidden col-8">{{profile_info['country']}}</h1>
          </div>
          <div class="col pc_position"> <h1 class="mobile_float">{{profile_info['country']}}</h1></div>


        </div>

        {%endif%}
        {% if profile_info['time_zone']!='No_show' %}
        <div class="row">
          <div class="col-4">
            <h1 class="hidden_for_pc">TimeZone </h1>
          </div>
          <div class="col pc_position"> <h1 class="mobile_float"><i class="fa fa-fw fa fa-clock-o hidden_for_mobile"></i>(UTC {{profile_info['time_zone']}})</h1></div>
        </div>


        {% endif %}

        <div class="meta">
          {% if profile_info['gender']!='No_show' %}
          <div class="row">
            <div class="col-4">
              <h1 class="hidden_for_pc">Gender </h1>
            </div>
            <div class="col pc_position"> <h1 class="mobile_float">{{profile_info['gender']}}</h1></div>
          </div>



          {% endif %}


          {% if profile_info['company'] != 'No_show' %}

          <div class="row">
            <div class="col-4">
              <h1 class="hidden_for_pc">Company </h1>
            </div>

            <div class="col-8 pc_position hidden_for_pc"> <h1 class="mobile_float">{{profile_info['company']}}</h1></div>
            <div class=" col-8 hidden"><p style="font-size: 20px;">Company: {{profile_info['company']}}</p></div>
            <div class=" col pc_position hidden_for_mobile"><p style="font-size: 20px;">Company: {{profile_info['company']}}</p></div>
          </div>


          {% endif %}

          <div class="row">
            <div class="col-4">
              <h1 class="hidden_for_pc">Joined </h1>
            </div>
            <div class="col pc_position"> <h1 class="mobile_float">{{joined}}</h1></div>

          </div>


          {%if not g.user['ID'] %}{%else%}
          {%if int(id) == int(g.user['ID'])%}
          <form method="post" enctype="multipart/form-data" >
            <input type="color" name="background">
            <button type="submit" class="btn btn-outline-primary btn-sm" value="setting background color" name="set_BG" style="float: right;">setting background color</button>
            {%endif%}{%endif%}

          </form>

          <hr>

        </div></div>
      </div>
    </section>

    <div>
      <section class="section center-col content">

        <!-- Nav -->



        <div class="container">

          <ul class="nav nav-tabs" role="tablist" id="tab">
            <li class="nav-item">
              <a class="nav-link {%if menu == 'HomePage'%}active{%endif%}"  href="{{ url_for('profile.profile',id=id , _anchor='tab') }}">Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {%if menu == 'collection'%}active{%endif%}"   href="{{ url_for('profile.profile',id=id,menu='collection', _anchor='tab') }}">collection</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {%if menu == 'Gallery'%}active{%endif%}"   href="{{ url_for('profile.profile',id=id,menu='Gallery', _anchor='tab') }}">Photo Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {%if menu == 'Follow'%}active{%endif%}"   href="{{ url_for('profile.profile',id=id,menu='Follow', _anchor='tab') }}">Following</a>
            </li>
          </ul>

          <!-- Tab panes -->


          <div class="tab-content">
            <div id="home" class="container tab-pane active "><br>
              {%if menu == 'HomePage'%}
              <blockquote class="blockquote blockquote-reverse">
                {%if profile_info['status'] != 'No_show'%}
                <p class="mb-0" style="color: black">{{profile_info['status']}}</p>
                {%else%}
                <p class="mb-0" style="color: black">I am good</p>
                {%endif%}
                <footer class="blockquote-footer" id="changed"></footer>
              </blockquote>


              {%elif menu == 'collection'%}
              <div class="row">
                <div class="col-md-4" >
                  <h2>Collections:{{count}} </h2></div>
                  <div class="col-md-8" >
                    <span class="float-right">
                      <form method="post" enctype="multipart/form-data" >

                        <select class="form-control"  onchange="location = this.value;">
                          {%if order == 'B'%}
                          <option value="{{ url_for('profile.profile',id=id,_anchor='tab',menu='collection',cl=cl,order='B') }}">from OLD to NEW</option>
                          <option value="{{ url_for('profile.profile',id=id,_anchor='tab',menu='collection',cl=cl,order='A') }}">from NEW to OLD</option>
                          {%else%}

                          <option value="{{ url_for('profile.profile',id=id, _anchor='tab',menu='collection',cl=cl,order='A') }}">from NEW to OLD</option>
                          <option value="{{ url_for('profile.profile',id=id,_anchor='tab',menu='collection',cl=cl,order='B') }}">from OLD to NEW</option>
                          {%endif%}
                        </select>
                      </form></span>
                    </div></div>
      {%for a in range(len(paginate[cl-1]))%}
   <div class="row">
      {%for i in range(len(paginate[cl-1][a]))%}
      <div class="col-md-4">
        <div style="width: 100%;">
        <a href="{{ url_for('show.show',id=paginate[cl-1][a][i]['picture_ID']) }}">
          <img src="data:image/png;base64, {{paginate[cl-1][a][i]['picture']}}" alt="user_icon" style=" height: auto;width: auto; max-height: 100%; max-width: 100%;"/></a>
        </div>
              <div style="text-align: center; width: 100%;">
                {{paginate[cl-1][a][i]['title']}}

              </div></div>
        {%endfor%}
      </div>
        {%endfor%}
                      <div style="float: none;margin: 0 auto;">
                        <br>
                        <ul class="pagination justify-content-center">
                          <li class="page-item {%if cl == 1%}disabled{%endif%}">
                            <a class="page-link" href="{{ url_for('profile.profile',id=id,_anchor='tab',menu='collection',cl=cl-1,order=order) }}">&laquo;</a>
                          </li>


                          {%for i in range(len(paginate))%}

                          <li class="page-item {%if cl == i+1%}active{%endif%}">
                            <a class="page-link " href="{{url_for('profile.profile',id=id,_anchor='tab',menu='collection',cl=i+1,order=order)}}" >{{i+1}}</a>
                          </li>

                          {%endfor%}

                          <li class="page-item {%if cl == (len(paginate))%}disabled{%endif%}">
                            <a class="page-link" href="{{ url_for('profile.profile',id=id,_anchor='tab',menu='collection',cl=cl+1,order=order) }}">&raquo;</a>
                          </li>
                        </ul>

                      </div>


                    </div>

                    {%elif menu == 'Gallery'%}

                    <div class="row">
                      <div class="col-md-4" >
                        <h2>Gallery:{{count}} </h2></div>
                        <div class="col-md-8" >
                          <span class="float-right">
                            <form method="post" enctype="multipart/form-data" >
                              <select class="form-control" onchange="location = this.value;">
                                {%if order == 'B'%}
                                <option value="{{ url_for('profile.profile',_anchor='tab',id=id,menu='Gallery',cl=cl,order='B') }}">from OLD to NEW</option>
                                <option value="{{ url_for('profile.profile',_anchor='tab',id=id,menu='Gallery',cl=cl,order='A') }}">from NEW to OLD</option>
                                {%else%}

                                <option value="{{ url_for('profile.profile',_anchor='tab',id=id,menu='Gallery',cl=cl,order='A') }}">from NEW to OLD</option>
                                <option value="{{ url_for('profile.profile',_anchor='tab',id=id,menu='Gallery',cl=cl,order='B') }}">from OLD to NEW</option>
                                {%endif%}
                              </select>
                            </form></span>
                          </div></div>
                          
                            {%for a in range(len(paginate[cl-1]))%}
                            <div class="row">
                            {%for i in range(len(paginate[cl-1][a]))%}
                            <div class="col-md-4">
                              <div style="width: 100%;">
                              <a href="{{ url_for('show.show',id=paginate[cl-1][a][i]['ID']) }}">
                                <img src="data:image/png;base64, {{paginate[cl-1][a][i]['picture']}}" alt="user_icon" style=" height: auto;width: auto; max-height: 100%; max-width: 100%;"/></a>
                              </div>
                              <div style="text-align: center; width: 100%;">
                                {{paginate[cl-1][a][i]['title']}}
                              </div>
                            </div>
                             
                              {%endfor%}
                            </div>

                              {%endfor%}
                            
                            <div style="float: none;margin: 0 auto;">
                              <br>
                              <ul class="pagination justify-content-center">
                                <li class="page-item {%if cl == 1%}disabled{%endif%}">
                                  <a class="page-link" href="{{ url_for('profile.profile',id=id,_anchor='tab',menu='Gallery',cl=cl-1,order=order) }}">&laquo;</a>
                                </li>


                                {%for i in range(len(paginate))%}

                                <li class="page-item {%if cl == i+1%}active{%endif%}">
                                  <a class="page-link " href="{{url_for('profile.profile',id=id,_anchor='tab',menu='Gallery',cl=i+1,order=order)}}" >{{i+1}}</a>
                                </li>

                                {%endfor%}

                                <li class="page-item {%if cl == (len(paginate))%}disabled{%endif%}">
                                  <a class="page-link" href="{{ url_for('profile.profile',id=id,_anchor='tab',menu='Gallery',cl=cl+1,order=order) }}">&raquo;</a>
                                </li>
                              </ul>

                            </div>


                          </div>


                          {% elif menu == 'Follow'%}
                          <div class="row">
                            <div class="col-md-4" >
                              <h2>Following:{{count}} </h2></div>
                              <div class="col-md-8" >
                                <span class="float-right">
                                  <form method="post" enctype="multipart/form-data" >
                                    <select class="form-control" onchange="location = this.value;">
                                      {%if order == 'B'%}
                                      <option value="{{ url_for('profile.profile',id=id,_anchor='tab',menu='Follow',cl=cl,order='B') }}">from OLD to NEW</option>
                                      <option value="{{ url_for('profile.profile',id=id,_anchor='tab',menu='Follow',cl=cl,order='A') }}">from NEW to OLD</option>
                                      {%else%}

                                      <option value="{{ url_for('profile.profile',id=id,_anchor='tab',menu='Follow',cl=cl,order='A') }}">from NEW to OLD</option>
                                      <option value="{{ url_for('profile.profile',id=id,_anchor='tab',menu='Follow',cl=cl,order='B') }}">from OLD to NEW</option>
                                      {%endif%}
                                    </select>
                                  </form></span>
                                </div></div>



                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th scope="col">Auth</th>
                                      <th scope="col">Gallery</th>
                                      <th scope="col">Follower</th>

                                      <th scope="col"></th>


                                    </tr>
                                  </thead>
                                  <tbody>
                                    

                                    <tr class="table-light">
                                      {%for i in range(len(paginate[cl-1]))%}
                                      <th scope="row"><a href="{{ url_for('profile.profile',id=paginate[cl-1][i]['following']) }}">{{paginate[cl-1][i]['name']}}</a></th>
                                      <td>{{paginate[cl-1][i]['gallery']}}</td>
                                      <td>{{paginate[cl-1][i]['followers']}}</td>
                                      {%if not not g.user%}
                                      {%if paginate[cl-1][i]['follower'] == g.user["ID"] %}
                                      <td><a href="{{ url_for('profile.follow',id=paginate[cl-1][i]['following'],check_follow='F',_anchor='tab',menu='Follow',cl=cl,order='B') }}">
                                        <button type="button"  class="btn btn-outline-primary btn-sm">Unfollow</button></a></td>
                                        {%endif%}{%endif%}
                                      </tr>

                                      {%endfor%}

                                    </tbody>
                                  </table>

                                  <ul class="pagination justify-content-center">
                                    <li class="page-item {%if cl == 1%}disabled{%endif%}">
                                      <a class="page-link" href="{{ url_for('profile.profile',id=id,_anchor='tab',menu='Follow',cl=cl-1,order=order) }}">&laquo;</a>
                                    </li>


                                    {%for i in range(len(paginate))%}

                                    <li class="page-item {%if cl == i+1%}active{%endif%}">
                                      <a class="page-link " href="{{url_for('profile.profile',_anchor='tab',id=id,menu='Follow',cl=i+1,order=order)}}" >{{i+1}}</a>
                                    </li>

                                    {%endfor%}

                                    <li class="page-item {%if cl == (len(paginate))%}disabled{%endif%}">
                                      <a class="page-link" href="{{ url_for('profile.profile',_anchor='tab',id=id,menu='Follow',cl=cl+1,order=order) }}">&raquo;</a>
                                    </li>
                                  </ul>

                                  {%endif%}





                                </div>






                              </div>
                            </div>
                          </section></div></div>

                          <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

                          {% endblock %}