{% extends 'top_bar.html' %}
{% block title %}Main{% endblock %}
{% block link %}
<link rel="Shortcut Icon" type="image/x-icon" href="{{ url_for('static', filename='Terrabyte.ico') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">
{% endblock %}



{% block contentA %}
<div class="container">
  <div class="col-md-12">
    <div class="jumbotron mobile-position " style="background-image: url('{{ url_for('static', filename='board-brown-design-172296.jpg') }}');background-size: cover;">
      <div id="AD" class="carousel slide" data-ride="carousel"  style=" height: auto; max-height: 100%; max-width: 100%; margin-top: 15px"/>

      <ul class="carousel-indicators">

        {%for i in range(len(AD))%}
        <li data-target="#AD" data-slide-to="{{i+1}}" {%if i == 0%}class="active"{%endif%}></li>
        {%endfor%}
      </ul>


      <div class="carousel-inner" >
        {%for i in range(len(AD))%}
        <div class="carousel-item {%if i == 0%}active{%endif%}">
            <div class="row justify-content-md-center">
           <img class="mobile-img" src="data:image/png;base64, {{AD[i]['picture']}}" alt="user_icon"  >
       </div>
          <div class="carousel-caption">
            <p class="ADtext">{{AD[i]['title']}}</p>
            <p class="ADtext">{{AD[i]['caption']}}</p>
          </div>
        </div>

        {%endfor%}
      </div>


      <a class="carousel-control-prev" href="#AD" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#AD" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>


  </div></div>







    <div class="jumbotron">
  <h1 class="display-3">THE NEWEST POST!!!</h1>

  <hr class="my-4">

      <div class="col-md-12">
        {%for a in range(len(row))%}

          <div class="row justify-content-md-center">

          {%for i in range(len(row[a]))%}
          <div class="col-md-4">
            <div class="col-12" style="text-align: center;">
            <a href="{{ url_for('show.show',id=row[a][i]['ID']) }}">
              <img src="data:image/png;base64, {{row[a][i]['picture']}}" alt="user_icon" style=" max-height: 100%; max-width: 100%;"/></a>
            </div>

            <div class="col-12" style="text-align: center;">
                <a href="{{ url_for('show.show',id=row[a][i]['ID']) }}" >
                {{row[a][i]['title']}}
              </a>
            </div>

            <div class="col-12 " style="text-align: center;">{{new_like_row[a][i]}}
            <img src="{{ url_for('static', filename='icons8-in-love-48.png') }}" style="width:24px;height: 24px">
            <img src="{{ url_for('static', filename='icons8-star-48.png') }}" style="width:24px;height: 24px">{{new_coll_row[a][i]}}
            </div>

          </div>

            {%endfor%}
          </div>


          {%endfor%}

        </div>
        <div class=" text-right"><a href="{{ url_for('main_index.Newest_page') }}"><p>Veiw more &raquo;&raquo;&raquo;</p></a></div>
    <hr class="my-4">
  <h1 class="display-3">THE MOST POPLUAR POST!!!</h1>
<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#Modal">Score = P / (T+2)^G </button>


<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 150px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Score = P / (T+2)^G</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

where,<br>
P = points of an item (like+collection)<br>
T = time since submission (in hours)<br>
G = Gravity, defaults to 1.8 in news.arc<br>
base on <a href="https://medium.com/hacking-and-gonzo/how-hacker-news-ranking-algorithm-works-1d9b0cf2c08d" target="_blank">How Hacker News ranking algorithm works</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






  <hr class="my-4">

      <div class="col-md-12">
        {%for a in range(len(pop_like_row))%}

          <div class="row justify-content-md-center">

          {%for i in range(len(pop_like_row[a]))%}
          <div class="col-md-4">

            
            <div class="col-12">
            <a href="{{ url_for('show.show',id=pop_like_row[a][i]['picture_ID']) }}">
              <img src="data:image/png;base64, {{pop_like_row[a][i]['picture']}}" alt="user_icon" style=" max-height: 100%; max-width: 100%;"/></a>
            </div>


            <div class="col-12" style="text-align: center;">
              <a href="{{ url_for('show.show',id=pop_like_row[a][i]['picture_ID']) }}">
                {{pop_like_row[a][i]['title']}}
              </a>
            </div>

            <div class="col-12 " style="text-align: center;">{{pop_like_row[a][i]['COUNT(*)']}}
            <img src="{{ url_for('static', filename='icons8-in-love-48.png') }}" style="width:24px;height: 24px">
            <img src="{{ url_for('static', filename='icons8-star-48.png') }}" style="width:24px;height: 24px">
            {%if not pop_like_row[a][i]['collection']%}
            {{0}}
            {%else%}
            {{pop_like_row[a][i]['collection']}}
            {%endif%}
            </div>

            </div>
            {%endfor%}
          </div>
          <br>
          {%endfor%}
        </div>
          <div class=" text-right"><a href="{{ url_for('main_index.pop_page') }}"><p>Veiw more &raquo;&raquo;&raquo;</p></a></div>
<!---  --->
{%if not not follow_row%}
  <hr class="my-4">
    <h1 class="display-3">FOLLOW!!!</h1>
    <hr class="my-4">

      <div class="col-md-12">

        {%for a in range(follow_loop)%}

          <div class="row justify-content-md-center">

          {%for i in range(0,len(follow_row[a]))%}
          <div class="col-md-4">
            <div class="col-12">
            <a href="{{ url_for('show.show',id=follow_row[a][i]['ID']) }}">
              <img src="data:image/png;base64, {{follow_row[a][i]['picture']}}" alt="user_icon" style=" height: auto;width: auto; max-height: 100%; max-width: 100%;"/></a>
            </div>
            <div class="col-12" style="text-align: center;">
              <a href="{{ url_for('show.show',id=follow_row[a][i]['ID']) }}">
                {{follow_row[a][i]['title']}}
              </a>

            </div>

            <div class="col-12" style="text-align: center;">
              {{follow_row[a][i]['like']}}
            <img src="{{ url_for('static', filename='icons8-in-love-48.png') }}" style="width:24px;height: 24px">
            <img src="{{ url_for('static', filename='icons8-star-48.png') }}" style="width:24px;height: 24px">
            {{follow_row[a][i]['collection']}}
            </div>

          </div>

            {%endfor%}
          </div>

          <br>
          {%endfor%}
          <div class=" text-right"><a href="{{ url_for('main_index.follow_page') }}"><p>Veiw more &raquo;&raquo;&raquo;</p></a></div>

{%endif%}


      </div>


    </div>

  </div>

  {% endblock %}
