{% extends 'top_bar.html' %}

{% block title %}Upload{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='upload.js') }}"></script>
{% endblock %}

{% block contentA %}



<form method="post" enctype="multipart/form-data" >

<div class="container">
<div class="row">
<div class="order-last col-md-12">

    <div class="form-group row">
{%if edit == 'upload' %}
    <div class="col-md-8" style="height: 500px;">


<span class="dragBox col-md-12" >
<div id="preview"> Darg and Drop image here</div>

<input type="file" onChange="dragNdrop(event)"  ondragover="drag()" ondrop="drop()" id="uploadFile"  name="file" />
</span>

      </div>
{%else%}





      <div class="col-md-8" style="height: 500px; text-align: center;">

        <img src="data:image/png;base64, {{show_info['picture']}}" alt="user_icon" style=" height: auto;width: auto; max-height: 100%; max-width: 100%;" />

      </div>

{%endif%}

      <div class="clearfix"></div>
      <div class="col-md-4">
        <div class="card border-primary mb-3" >
          <div class="card-header">{{g.profile_info['nick_name'] }}</div>
          <div class="card-body">
            <div class="form-group">
              <label for="exampleTextarea">Say somethings:</label>
              <textarea class="form-control" id="exampleTextarea" rows="3" name="caption" maxlength="400">
              {%if edit == 'edit'%}{{show_info['caption']}}{%endif%}</textarea>
            </div>
          </div>
        </div><button type="submit" class="btn btn-primary btn-lg btn-block" name="POST" value="POST">POST</button>
      </div>
    </div>
    </div>


<div class="order-first col-md-12">
  <div class="form-group row"> <h1>Tittle:</h1>
    <div class="col-md-3">
      <input class="form-control form-control-lg" type="text" value="{%if edit == 'edit'%}{{show_info['title']}}{%endif%}" id="inputLarge" name="title">
    </div>
  </div> 
    <div class="form-group row">
      <div class="col-md-1"></div>
      <footer class="blockquote-footer">by <cite title="Source Title">{{g.profile_info['nick_name'] }}</cite></footer>
    </div>
</div>
</div>
{%if not edit %}
  <label for="uploadFile" class="btn btn-primary">Upload Image</label>
{%endif%}
        <div class="col-md-12 row">
          <div class="col-md-5">

            <div style="float: none;margin: 0 auto;" class="col-md-10"><img class="like" src="{{ url_for('static', filename='icons8-in-love-48.png') }}">like
             

            </div>
          </div>
          <div class="col-md-5">



            <div style="float: none;margin: 0 auto;" class="col-md-10"><img src="{{ url_for('static', filename='icons8-star-48.png') }}">collect

            </div>
          </div></div>

    <h1 class="display-3">Comments!</h1>


    <div class="list-group">

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <img src="{{ avatars.default() }}" width="30ox" height="30px" >
          <small class="text-muted">x days ago</small>
        </div>
        <p class="mb-1">Comments Example.</p>
      </a>



    </div>


</div>
</form>
  {% endblock %}