<!DOCTYPE html>
<html>
<head>
  <title>welcom Nonamela</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='first_page.css') }}">
  <link href='https://fonts.googleapis.com/css?family=ZCOOL KuaiLe' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="Shortcut Icon" type="image/x-icon" href="{{ url_for('static', filename='Terrabyte.ico') }}" />


</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
     <a class="navbar-brand" id="Web_name" href="{{ url_for('main_index.main_page') }}">Nonamela</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="{{ url_for('login.index',_anchor='section1') }}" class="nav-item nav-link active">About</a>
            <a href="{{ url_for('profile.Myprofile') }}" class="nav-item nav-link">Profile</a>
            <a href="{{ url_for('upload.upload') }}" class="nav-item nav-link active">Upload</a>
            {%if g.user['admin'] == "Y"%}
            <a href="{{ url_for('admin.admin') }}" class="nav-item nav-link active">Admin</a>
            {%endif%}
        </div>
    <form class="form-inline" method="post" enctype="multipart/form-data">
      <div class="input-group">                    
        <input type="text" class="form-control" placeholder="Search" name="Search">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary" name="action" value="search"><i class="fa fa-search" style="color: white"></i></button>
        </div>
      </div>
    </form>
        <div class="navbar-nav">
            {% if g.user %}
            <a href="{{ url_for('login_app.logout') }}" class="nav-item nav-link">{{ g.user['username'] }} Logout</a>
            {% else %}
            <a href="{{ url_for('login_app.login') }}" class="nav-item nav-link">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="guide"><h3><b>Please scroll down</b></h3></div>

<section></section>

<div id="section1" class="container-fluid">
  <h1>About us</h1>
  <p>"An illustration is a decoration, interpretation or visual explanation of a text, concept or process,[1] designed for integration in published media, such as posters, flyers, magazines, books, teaching materials, animations, video games and films.</p>

<p>The origin of the word “illustration” is late Middle English (in the sense ‘illumination; spiritual or intellectual enlightenment’): via Old French from Latin illustratio(n- ), from the verb illustrate.</p>
  <p>From Wikipedia, the free encyclopedia</p>
</div>
<div id="section2" class="container-fluid">
  <h1>How to use?</h1>
  <p>You can see the login button at the right corner. Click it and login.</p>

  <p>If you are not our member. Don't worry. Click it and Register</p>
    <p>Also you can click left corner(my logo) to the main page whithout login</p>
</div>
<div id="section3" class="container-fluid">
  <h1>Why choose us?</h1>
  <p>Actually I have no idea.</p>
  <p>But I think the index page is beaetiful. It may a reason for someone.</p>
</div>
<div id="section41" class="container-fluid">
  <h1>Author</h1>
  <p>You can up load your illustration on our server</p>
  <p>An author is the creator or originator of any written work such as a book or play, and is thus also a writer. More broadly defined, an author is "the person who originated or gave existence to anything" and whose authorship determines responsibility for what was created.</p>
  <p>From Wikipedia, the free encyclopedia</p>
</div>
<div id="section42" class="container-fluid">
  <h1>Reader</h1>
  <p>You can search depend on your interest</p>
  <p>The Reader is a 2008 German-American romantic drama film directed by Stephen Daldry and written by David Hare, based on the 1995 German novel of the same name by Bernhard Schlink. Ralph Fiennes and Kate Winslet star along with the young actor David Kross. It was the last film for producers Anthony Minghella and Sydney Pollack, both of whom died prior to its release. Production began in Germany in September 2007, and the film opened in limited release on December 10, 2008. </p>
  <p>From Wikipedia, the free encyclopedia</p>
</div>

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='first_page.js') }}"></script>
</html>