{% extends 'top_bar.html' %}
{% block link %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resend.css') }}">
<script type="text/javascript">
    var i=7;
    var timehwnd=setInterval("Countdown()",1000);
    function Countdown(){
        i--;
        if(i == 0){
            $("#button").val("下一步");
            $("#button").removeAttr("disabled");
            clearInterval(timehwnd);
        }else{
            $("#button").val("下一步("+i+")");
        }
    }
</script>
 {% endblock %}
{% block contentA %}
<div class="card border-primary mb-3 main" style="max-width: 20rem;">
  <div class="card-header">Hello Firend</div>
  <div class="card-body">
    <h4 class="card-title">Your email should be vaildated</h4>
    <p class="card-text">Click here to resend verify email:</p>
    <form method="POST">
    	
    <button id='button' type="submit" class="btn btn-outline-success">Re-send</button>
    </form>
  </div>

 {% endblock %}